* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pink {
    border: 1px solid #F2A4DC;
    width: 100%;
    height: 65px;
    background-color: #F2A4DC;
}

.a {
    border: 1px solid #D4CA69;
    width: 100%;
    height: 435px;
    background-color: #D4CA69;
    margin-top: 81px;
}

.pink1 {
    display: none;
    border: 1px solid #F4A2A2;
    width: 777px;
    height: 435px;
    background-color: #F4A2A2;
    margin-top: 81px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.main {
    margin: 0 15px;
    display: flex;
    justify-content: center;
}

.bluemain {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    justify-content: center;
}

.blue-block {
    background: #69C8D4;
    height: 259px;
    margin-top: 77px;

}

.indigo-block {
    background: #89AFE8;
    height: 85px;
    margin-top: 21px;

}

.glava {

    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.green {
    border: 1px solid #6EB468;
    width: 100%;
    height: 637px;
    background-color: #6EB468;
    margin-top: 133px;
    margin: 133px 15px 0 15px;
}


.wrapper1 {
    display: flex;
    width: 100%;
}

.pink2 {
    border: 1px solid #F2A4DC;
    width: 100%;
    height: 278px;
    background-color: #F2A4DC;
    margin-top: 138px;
    align-items: center;
}